@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,500;0,700;0,800;0,900;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,400&display=swap");

* {
  box-sizing: border-box;
}
body {
  /* background-image: url("../Images/safari.jpg"); */
  background: linear-gradient (90deg, gray 0%, #34495e 100%);
  font-family: "Nunito", sans-serif;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}
header {
  color: azure;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #333;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.logo {
  color: #fff;
  font-size: 3rem;
  font-weight: bolder;
}

.logo span {
  color: orange;
}

.navbar a {
  color: #fff;
  margin: 1rem;
  font-size: 2rem;
}

.navbar a:hover {
  color: orange;
}

.icons i {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  margin-right: 1.5rem;
}

.icons i:hover {
  color: orange;
}

.search-bar-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 1.5rem 2rem;
  background: #333;
  border-top: 0.2rem solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  z-index: 1001;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.search-bar-container.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.search-bar-container #search-bar {
  width: 100%;
  padding: 1rem;
  text-transform: none;
  color: #333;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}

.search-bar-container label {
  color: #fff;
  cursor: pointer;
  font-size: 2.7rem;
  margin-left: 1.5rem;
}

.search-bar-container label:hover {
  color: orange;
}

#menu-bar {
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  padding: 5px;
  /* border: #fff solid 1px; */
  /* border-radius: 00.5rem; */
  display: none;
}

/* Media Quaeries */

@media (max-width: 1200px) {
  html {
    font-size: 57%;
  }
}

@media (max-width: 991px) {
  header {
    padding: 2rem;
  }
  section {
    padding: 2rem;
  }
}

@media (max-width: 991px) {
  .logo {
    align-items: center;
  }

  #menu-bar {
    display: initial;
  }

  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background: #333;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
    padding: 1rem 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .navbar a {
    display: block;
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin: 1.5rem 0;
    background: #222;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

/* Feedback Popup */

.feedback-logo {
  color: #333;
  font-size: 1.5rem;
  font-weight: bolder;
}

.feedback-logo span {
  color: orange;
}

.feedback-form-container {
  position: fixed;
  top: -120%;
  left: 0;
  z-index: 10000;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #bbb;
}

.feedback-form-container form {
  margin: 2rem;
  padding: 25px 20px;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.6);
  width: 50rem;
  text-align: center;
}

.feedback-form-container form h2 {
  font-size: 3rem;
  color: #444;
  text-transform: unset;
  text-align: center;
  padding: 1rem 0;
}

.feedback-form-container form .id {
  position: relative;
}

.id i {
  position: absolute;
  font-size: 30px;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.feedback-form-container form input {
  width: 100%;
  height: 50px;
  margin: 5px 0;
  border: 1px solid #999;
  border-radius: 3px;
  background: white;
  padding: 0 15px;
  font-size: 20px;
}

.container1 {
  background: linear-gradient(90deg, gray 0%, #34495e 100%);
  background-size: cover;
}

form textarea {
  padding: 5px 15px;
  border: 1px solid #999;
  border-radius: 3px;
  background: #d6d3d3;
  padding: 0 15px;
  font-size: 20px;
  width: 100%;
  margin: 5px 0;
}

form button {
  margin-top: 5px;
  border: none;
  background: #333;
  color: #fff;
  padding: 10px 0;
  width: 100%;
  font-size: 20px;
  font-weight: 800;
}

form button:hover {
  background-color: orange;
  transition: 1s;
}

.feedback-form-container #form-close {
  position: absolute;
  top: 2rem;
  right: 3rem;
  font-size: 5rem;
  color: #fff;
  cursor: pointer;
}

.feedback-form-container.active {
  top: 0;
}

/* Booking Section */

.header {
  font-family: "Lucida Console", monospace;
  color: white;
}

.header h2 {
  margin: 0;
}

.form {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 700px;
  height: 1100px;
  font-size: 1.5rem;
}

.form {
  padding: 50px 30px;
}
.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control small {
  visibility: hidden;
}

button {
  background-color: orangered;
  border: 2px;
  border-radius: 4px;
  color: white;
  display: block;
  font-size: 16px;
  font-family: inherit;
  margin-top: 30px;
  padding: 10px;
  width: 100%;
}

.form img {
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
}

.whentogo {
  text-align: justify;
  margin-left: 220px;
}

.salutation {
  text-align: justify;
  margin-left: 180px;
}

#firstname {
  margin-left: 9px;
}

#lastname {
  margin-left: 10px;
}

#number {
  margin-left: 15px;
}

#email {
  margin-left: 35px;
}

#country {
  margin-left: 26px;
}

#type {
  margin-left: 10px;
}

.numberofpeople {
  text-align: justify;
  margin-left: 180px;
}

#adults {
  margin-left: 18px;
}

#children {
  margin-left: 6px;
}

.heading {
  text-align: center;
  padding: 3rem;
  margin-bottom: 5rem;
}

.heading2 {
  text-align: center;
  padding: 3rem;
}

.heading span {
  font-size: 3rem;
  background: rgba(255, 165, 0, 0.2);
  color: orange;
  border-radius: 0.5rem;
  padding: 0.2rem 1rem;
}

.heading span:hover {
  color: #fff;
  background: orange;
  transition: 0.5s;
}

.heading2 span {
  font-size: 1.7rem;
  background: rgba(255, 165, 0, 0.2);
  color: orange;
  border-radius: 0.5rem;
  padding: 0.2rem 1rem;
}

.heading .space {
  background: #fff;
  color: #fff;
}

.heading .space:hover {
  background: #fff;
  color: #fff;
}

.heading2 .space {
  background: #fff;
  color: #fff;
}

/* Footer Section */

footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #333;
  justify-content: space-between;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.section {
  margin-right: 30px;
}

.about {
  width: 40%;
}

.container h3 {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 20px;
}

.container h3::before {
  content: "";
  position: absolute;
  bottom: -0.3125rem;
  left: 0;
  width: 1.875rem;
  height: 0.125rem;
  background: orange;
}

footer P {
  color: #bbb;
  font-size: 12px;
}

.social-media {
  margin-top: 1.25rem;
  display: flex;
}

.social-media li {
  list-style: none;
}

.social-media li a {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.625rem;
  border-radius: 00.5rem;
}

.social-media li a:hover {
  background: orange;
}

.social-media i {
  color: #fff;
  font-size: 12px;
}

.links {
  position: relative;
  width: 25%;
}

.links li {
  list-style: none;
}

.links li a {
  color: #bbb;
  text-decoration: none;
  margin-bottom: 0.375rem;
  display: inline-block;
  font-size: 12px;
}

.links li a:hover {
  color: orange;
}

.contact {
  width: calc(35% - 60px);
  margin-right: 0 !important;
}

contact .info {
  position: relative;
}

.contact .info li {
  display: flex;
  margin-bottom: 1rem;
}

.contact .info li i {
  color: #fff;
  font-size: 10px;
  margin-right: 10px;
}

.copyright-text {
  width: 100%;
  background: #333;
  padding: 8px 100px;
  text-align: center;
  color: #bbb;
}

@media (max-width: 991px) {
  footer {
    padding: 40px;
  }
  .container {
    flex-direction: column;
  }
  .container .section {
    margin-right: 0;
    margin-bottom: 40px;
  }
  .container .section .about,
  .links,
  .contact {
    width: 100%;
  }
  .copyright-text {
    padding: 8px 40px;
  }
}

a {
  text-decoration: none;
}
